@model HRManager.Models.ViewModels.EmployeeViewModel
@{ 
 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>
    <fieldset>All Employees</fieldset>
    <table>
        <thead>
            <tr>
            <th style="text-align:center">Employee ID</th>
            <th style="text-align:center">First Name</th>
            <th style="text-align:center">Last Name</th>
            <th style="text-align:center">Address</th>
            <th style="text-align:center">Email</th>
            <th style="text-align:center">Phone Number</th>
            <th style="text-align:center">Position</th>
            <th style="text-align:center">Department</th>
            <th style="text-align:center">Start Date</th>
            <th style="text-align:center">End Date</th>
            <th style="text-align:center">Employment Status</th>
            <th style="text-align:center">Shift</th>
            <th style="text-align:center">Direct Supervisor</th>
            <th style="text-align:center">Favorite Color</th>
            <th style="text-align:center">Permission Level</th>
            <th style="text-align:center">User Name</th>
            <th style="text-align:center">Password</th>
            </tr>
        </thead>
        <tbody>
            @Model.
            @for (int i = 0; i < Model.Employee_List.Count; i++)
            {
            <tr>
                <td style="text-align:center">@Model.Employee_List[i].EmployeeId</td>
                <td style="text-align:center">   @Model.Employee_List[i].FirstName</td>
                <td style="text-align:center">@Model.Employee_List[i].LastName</td>
                <td style="text-align:center">@Model.Employee_List[i].Address</td>
                <td style="text-align:center">@Model.Employee_List[i].Email</td>
                <td style="text-align:center">@Model.Employee_List[i].PhoneNumber</td>
                <td style="text-align:center">@Model.Employee_List[i].Position</td>
                <td style="text-align:center">@Model.Employee_List[i].Department</td>
                <td style="text-align:center">@Model.Employee_List[i].StartDate</td>
                <td style="text-align:center">@Model.Employee_List[i].EndDate</td>
                <td style="text-align:center">@Model.Employee_List[i].EmploymentStatus</td>
                <td style="text-align:center">@Model.Employee_List[i].Shift</td>
                <td style="text-align:center">@Model.Employee_List[i].Manager</td>
                <td style="text-align:center">@Model.Employee_List[i].FavoriteColor</td>
                <td style="text-align:center">@Model.Employee_List[i].PermissionLevel</td>
                @*I need a way to make sure that the only
        users that can see the Employee's UserName
        and Password is that individual Employee
        plus people who have a high enough permisson level*@
                <td>@Model.Employee_List[i].UserName</td>
                <td>@Model.Employee_List[i].PassWord</td>

            </tr>
            }
        </tbody>
        @*Here I want code that enumerates through all the instances
            Employee. Maybe this will have to wait until
            I have the database set up and running properly*@
    </table>
    </form>

